<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-2.34.0.min.js"></script>
    <meta class='page' id='{{page}}' data-name='{{page}}'>
    
    {% block head %}

    {% endblock %}
  </head>

  <body>
    <header class="header">
      <a class="visual_crypto">Visual Crypto</a>
      <nav class="navbar">
        <a href="{{ url_for('realtime') }}" class="realtime">Realtime</a>
        <a href="{{ url_for('historical') }}" class="historical">Historical</a>
      </nav>
    </header>

    {% block body %}

    {% endblock %}
  </body>
</html>